<h3><%= @drink.name %></h3>
<p>Description: <%= @drink.description %></p>
<p>Ingredients: $<%= @drink.ingredients %></p>
<p>Directions: <%= @drink.directions %></p>

<button onclick="window.history.back()">Back</button>
