<div class="row">
	<div class="col-md-2"></div>
	<div class="jumbotron col-md-9">
	  <h1>Manly Drinks</h1>
	  <p>This is a simple search site of your favorite mainly drinks.</p>
	  <p><a href="/drinksall" class="btn btn-primary btn-lg">Let's get drinking!</a></p>
	</div>
	<div class="col-md-3"></div>
</div>
