

<!-- <section class="container search">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" name="search" value="<%= @search %>" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="reset"  class="btn btn-warning"
            onclick="window.location.href='/drinks_all'">Reset</button>
  </form>

</section> -->