<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rezeepi</title>
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>


  <body>
<!-- HEADER -->

		<section id='header'>
		<h1 id='logo'>REZEEPI<h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/drinks_all">The Drinks</a></li>
				<li><a href="/drink">The Drink</a></li>
			</ul>
		</nav>
		</section>

<!-- ACTUAL CONTENT -->

		<section>
			<%= yield %>
		</section>

<!-- FOOTER -->




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <button type="button" class="btn btn-success">I Should Be Green</button>
  
  </body>


</html>